* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    
    background-color:#fff;
    color: #5f5656;
    font-family: 'Merienda', cursive;
    font-size:15px;
    font-weight:100;
    text-rendering: optimizeLegibility;
}